* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(189, 51, 51); */
    background-image: linear-gradient(90deg, rgba(247, 5, 5, 1) 0%, rgba(172, 96, 65, 1) 33%, rgba(87, 199, 133, 1) 60%, rgba(237, 168, 83, 1) 100%);
}

.logo-1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.navUl {
    background-color: rgb(104, 2, 2);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(14, 13, 13);
}

.navlist .nav-link {
    color: #ffffff;
    font-size: 20px;
    align-items: center;
}

.navlist {
    align-items: center;
}

.navlist .btn {
    white-space: nowrap;
}

.btn {
    background-color: #ec0202;
    border-radius: 10px;
    border: 2px solid;
    color: rgb(255, 254, 254);
}

.btn:hover {
    border-radius: 10px;
    border: 2px solid red;
    color: rgb(16, 16, 16);
    background-color: #ffb8b8;
    transition: 0.5s;
    cursor: pointer;
}

.makeup-img {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(131, 1, 1);

}

.makeup-img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgb(255, 255, 255);
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}

.header-row {
    background-color: #fa5656;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 10px;

}

.btn-1 {
    background-color: #f8b5b5;
    color: rgb(12, 8, 14);
    border: 2px solid #060606;
    border-radius: 5.95px;
    height: 50px;
    width: 150px;
}

.btn-1:hover {
    border-radius: 10px;
    border: 2px solid;
    color: rgb(255, 253, 253);
    background-color: #fa3131;
    transition: 0.5s;
    cursor: pointer;
}

.second-middle-row {
    background-color: #fa5656;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 10px;
}

.section-services {
    background-color: #fa5656;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgb(131, 1, 1);
    padding: 30px;

}

.section-services:hover {
    background-color: #fc7d7d;
    box-shadow: 5px 5px 25px rgb(255, 255, 255);
    cursor: pointer;
    animation-name: zoom-In;
    animation-duration: 2s;
}

.btn-01 {
    font-size: 37px;
    font-style: bold;
    background-color: #853636;
    color: #f3b8b8;
    border: 2px solid black;
    border-radius: 25px;
}

.btn-01:hover {
    font-size: 40px;
    font-style: bold;
    background-color: #530202;
    color: #fcfafa;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid rgb(252, 180, 220);


}

.Selling-button {
    font-size: 35px;
    font-style: bold;
    background-color: #853636;
    color: #f5b1b1;
    border: 2px solid black;
    border-radius: 25px;

}

.Selling-button:hover {
    font-size: 40px;
    font-style: bold;
    background-color: #530202;
    color: #fcfafa;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid rgb(252, 180, 220);
}

.third-middle-row {
    background-color: #fa5656;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 10px;
}

.card {
    background-color: rgb(253, 184, 184);
    border-radius: 10px;
    box-sizing: border-box;
}

.card:hover {
    background-color: rgb(248, 136, 136);
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}


.contact-row {
    background-color: #fa5656;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;

}

.btn {
    background-color: #ec0202;
    border-radius: 10px;
    border: 2px solid;
    color: rgb(255, 254, 254);
}

.btn:hover {
    border-radius: 10px;
    border: 2px solid red;
    color: rgb(16, 16, 16);
    background-color: #ffb8b8;
    transition: 0.5s;
    cursor: pointer;
}

.makeup-img {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(131, 1, 1);

}

.makeup-img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgb(255, 255, 255);
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}

.header-row {
    background-color: #fa5656;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 10px;

}

.C-button {
    background-color: rgb(224, 10, 10);
    color: rgb(255, 255, 255);
    border: 2px solid #faf4f4;
    border-radius: 5.95px;
    height: 50px;
    width: 200px;
    font-size: 30px;
}

.C-button:hover {
    border-radius: 10px;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    background-color: #ffa8a8;
    transition: 0.5s;
    cursor: pointer;
    font-size: 25px;
}

.form {
    max-width: 500px;
    margin: 20px auto;
    padding: 25px;
    background-color: #6e0207;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.label,
.label-msg {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

.form input[type="text"],
.form textarea {
    width: 100%;
    padding: 10px 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.form input[type="text"]:hover,
.form textarea:hover {
    border-color: #ff0000;
    background-color: #fd8d8d;
}

.form input[type="text"]:focus,
.form textarea:focus {
    border-color: #000000;
    background-color: #f5c5c5;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 255, 60, 0.5);
}

.btnservice {
    background-color: #ec0202;
    border-radius: 10px;
    border: 2px solid;
    color: rgb(255, 254, 254);
}

.btnservice:hover {
    border-radius: 10px;
    border: 2px solid red;
    color: rgb(16, 16, 16);
    background-color: #ffb8b8;
    transition: 0.5s;
    cursor: pointer;
}

/* 
.footer {
    background-color: rgb(104, 2, 2);
    height: 180px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border: 2px solid black;

}

.github-icon {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left: 5px;
}

.footer-para {
    color: #ffffff;
    font-size: 15px;
}

.footer-para:hover {
    color: #faa966;
    cursor: pointer;
    transition: 0.5s;

}

.e-para {
    color: #fdfafa;
    text-align: center;
}

.tag {
    color: #fcfafa;
    text-decoration: none;
} */



.main-footer {
    margin-top: 50px;
    background-color: rgb(104, 2, 2);
    border: 2px solid rgb(255, 157, 157);
    border-radius: 20px;
}

.footer-heading-03 {
    text-align: center;
    padding-top: 20px;
    color: #ffffff;
}

.foot-img {

    text-align: center;
    gap: 2px;
}

.foot-logo {
    width: 200px;
}

.last-div span {
    color: #ffffff;
}

.footer-para {
    color: #ffffff;

}

.footer-para a {
    color: #ffffff;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.github-logo {
    width: 35px;
    height: 40px;
    border-radius: 50px;

}

.last-div span {
    color: #000000;
}

.last-div span:hover {
    color: #420202;
    cursor: pointer;
    transition: 0.9s;
}



@media only screen and (max-width: 991px) {
    .left-row {
        text-align: center;
    }

    .navbar-collapse {
        background-color: #b13f3f;
        padding: 20px;
        border-radius: 20px;
        margin-top: 10px;
    }

    .navUi {

        padding-bottom: 100px;
    }

    .navUl a {
        margin-top: -15px;
        text-align: center;
    }

    .navbar-collapse {
        text-align: center;
    }
}


@media only screen and (max-width: 328px) {
    .footer {
        height: 280px;
    }
}


@media only screen and (max-width: 446px) {

    .footer {
        height: 200px;
    }
}


@media only screen and (max-width: 386px) {
    .footer {
        height: 220px;
    }
}

@media only screen and (max-width: 350px) {
    .footer {
        height: 240px;
    }
}

@media only screen and (max-width: 328px) {
    .footer {
        height: 280px;
    }
}

@media only screen and (max-width: 320px) {
    .btn {
        margin-left: -20px;
        width: 135px;
    }
}

@media only screen and (max-width: 275px) {
    .e-para {
        display: none;
    }
}

@media only screen and (max-width: 256px) {
    .footer {
        height: 350px;
    }
}

@media only screen and (max-width: 240px) {
    .C-button {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 236px) {
    .footer {
        height: 400px;
    }
}

@media only screen and (max-width: 225px) {
    .left-row {
        text-align: left;
    }

    .heading-3 {
        font-size: 18px;
    }

    .para-1 {
        font-size: 13px;
    }

    .btn-1 {
        margin-right: 50px;
    }

    .body {
        overflow-x: hidden !important;
    }
}



@media only screen and (max-width: 220px) {
    .footer {
        height: 450px;
    }
}

@media only screen and (max-width: 214px) {
    body {
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 208px) {
    .footer {
        height: 500px;
    }
}

@media only screen and (max-width: 208px) {

    .btnservice {
        background-color: #ec0202;
        border-radius: 10px;
        border: 2px solid;
        color: rgb(255, 254, 254);
        font-size: 13px;
    }

    .btnservice:hover {
        border-radius: 10px;
        border: 2px solid red;
        color: rgb(16, 16, 16);
        background-color: #ffb8b8;
        cursor: pointer;
    }

    .Selling-button {
        background-color: #800303;
        font-size: 15px;
        border-radius: 10px;
        border: 2px solid rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .Seling-button:hover {
        font-size: 15px;
        border-radius: 10px;
        border: 2px solid rgb(252, 166, 166);
        color: #000000;
        background-color: #fa6868;
        transition: 0.3s;
        cursor: pointer;
    }
}