* {
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(189, 51, 51); */
    background-image: linear-gradient(90deg,rgba(247, 5, 5, 1) 0%, rgba(172, 96, 65, 1) 33%, rgba(87, 199, 133, 1) 60%, rgba(237, 221, 83, 1) 100%);
}
.logo-1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.makeup-img{
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(131, 1, 1);
}
.header-row{
        background-color: #fa5656;

}
.second-middle-row{
        background-color: #fa5656;
}
.third-middle-row{
        background-color: #fa5656;
}
.card{
    background-color: rgb(253, 184, 184);
    border-radius: 10px;
    box-sizing: border-box;
}
.card:hover{
    background-color: rgb(248, 136, 136);
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
   animation-name: pulse;
    animation-duration: 2s;
}



.footer {
    background-color: rgb(104, 2, 2);
    height: 100px;
    margin: 5px 50px 25px 50px;
    /* margin-bottom:25px;
    margin-left: 50px; */
    border-radius: 10px;
    border: 2px solid black;

}


.footer-para {
    color: #ffffff;
    font-size: 30px;
    margin-bottom:90px;
    padding-bottom: 10px;
}

.footer-para:hover {
    color: #faa966;
    cursor: pointer;
    transition: 0.5s;

}